<h1 class="py-2">Editar Item cobes</h1>

<div class="p-5 mt-5 mb-4  bg-secondary-subtle rounded-3">
  <%= render "form", cobe: @cobe %>
</div>

<div>
  <%= link_to "Show this cobe", @cobe,class:"btn btn-success my-4 mx-2" %> 
  <%= link_to "Back to cobe", cobes_path,class:"btn btn-secondary my-4 mx-2"%>
</div>
