<h1 class="py-2">Nuevo Item cobe</h1>
<div class="p-5 mt-5 mb-4  bg-secondary-subtle rounded-3">
  <%= render "form", cobe: @cobe %>
</div>

<div>
  <%= link_to "Back to cobes", cobes_path ,class:"btn btn-secondary my-4"%>
</div>
